<header>

    <div id="allheader" class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="navbar-inner">
          
          <div class="container"> 
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <% if (theme.avatar.enable){ %>
              <a class="brand" style="
                <% if (!theme.avatar.border){ %> border-width: 0px; <% } %> margin-top: <%= theme.avatar.top %>px;"  
                href="/">
                  <img width="<%= theme.avatar.width %>px" height="<%= theme.avatar.height %>px" alt="THSLI" src="<%- partial('post/urlconvert', {tempUrl: theme.avatar.url}) %>">
              </a>
            <% } else { %>
              <a class="brand" style="border-width: 0;">
                <p><%= config.title || config.author %></p>
              </a>
            <% } %>
            
            <div class="navbar-collapse collapse">
              <ul class="hnav navbar-nav">
                <% for (var i in theme.menu){ %>
                  <li> <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= __(i.toLowerCase()) %></a> </li>
                <% } %>
                  <li><%- partial('search/index') %></li>
            </div>
          </div>
                
      </div>
    </div>

</header>

<% if (is_current("about", false) && theme.about_big_image){ %>

  <% if (typeof(theme.about_big_image) == "string") { %>
    <div style="background:#fff;width: 100%;">
      <div style="max-height:600px; overflow: hidden;">
        <img width="100%" src="<%- partial('post/urlconvert', {tempUrl: theme.about_big_image.toString()}) %>">
      </div>
    </div>
  <% } else { %>
    <section class="awSlider">
      <div class="carousel slide carousel-fade " data-ride="carousel">

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
           <% for(var i=0; i < theme.about_big_image.length; i++){%>
              <% if(i == 0){ %>
                <div class="item active" style="background-image: <%= theme.home_background_image.linear[i] %>;" id="linear<%= i %>">
              <% } else { %>
                <div class="item" style="background-image: <%= theme.home_background_image.linear[i] %>" id="linear<%= i %>">
              <% } %>
              </div>

              <!-- 自适应大图 -->
              <script>
                 
                var carouselResize = function() {
                  var h = document.body.clientHeight;
                  var w = document.body.clientWidth;
                  if(location.pathname.includes('/about/')) h = w > 680 ? 27 : 25;
                  var linearTag<%= i %> = document.getElementById("linear<%= i %>");
                  linearTag<%= i %>.style.width = w + "px";
                  linearTag<%= i %>.style.height = h + "px";
                };
                carouselResize();
              </script>
            <% } %>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href=".carousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Geri</span>
        </a>
        <a class="right carousel-control" href=".carousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">İleri</span>
        </a>
      </div>
    </section>
    
  <% } %>

<% } %>
